/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/public/css
/public/js
/public/data
/public/images/hours
/public/images/visuals
/out
/.repl
*.log
/.env
/dist
.DS_Store
.DS_Store?
\#*#
